*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}


header {
    
    position: fixed;
    padding: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: "Poppins-Regular";
    
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: ivory;
    padding: 5px;
    font-size: 10px;
}

.Hero{
    width: 100%;
    height: 100vh;
    background: url("./img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 40px;
}
.Hero .Hero-inner h1{
    font-family: "Poppins-regular";
}
.Hero .Hero-inner{
    text-align: center;
    font-family: "honeyscript";
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.services {
    color: grey;
    text-align: center;
    font-family: "Poppins-Regular";
}
.services h3{
    /* padding: 10px; */
    margin-top: 30px;
}
.services p{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.sign-up{
    text-align: center;
    background-color:whitesmoke;
}

.sign-up img{
    width: 100%;
    margin-bottom: 10px;
}
.sign-up h2{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 17px;
    font-family: "Poppins-Regular";
    text-align: center;
    margin-bottom: 5px;
    color: grey;
}
.sign-up p{
    text-align: center;
    font-family: "Poppins-Regular";
    /* font-family: sans-serif; */
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: gray;
}
.sign-up button{
    background-color: #ECA052;
    color: white;
    font-family: "Poppins-Regular";
    /* font-family:Arial, Helvetica, sans-serif; */
    font-size: 15px;
    font-weight: bold;
    margin:0 auto;
    padding: 0 18px;
    border: none;
    /* border-radius: 5px; */
    /* border-color:#ECA052; */
    margin-bottom: 10px;
}
   .happy h2{
    padding: 50px;
    font-family: "Poppins-Regular";
    /* font-family: Arial, Helvetica, sans-serif; */
    color: gray;
    font-size: 20px;
    background-color: white;
}
.comments h2{
    margin: 30px auto;
    display: block;
    width: max-content;
    font-size: 25px;
    font-family: 'Poppins-Regular';
}
.comment-items{
    padding: 15px;
}
.comment-inner{
    font-size: 13px;
    font-family: "Poppins-Regular";
    background-color:whitesmoke;
    color: gray;
    padding: 20px 10px;
}
.comment-inner h4{padding: 0px;color: black;}
.Sub{
    background-color:#ECA052;
    padding: 5px;
}

.Sub-inner h5{
    text-align: center;
    font-size: 20px ;
    font-family: "Poppins-Regular";
    color:white;
    margin-top:20px ;
    margin-bottom: 20px;
}
.Sub-inner #name{
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 20px 0px 0px 20px;
    border:#ECA052;
    height: 25px;
    width: 85px;
}
.Sub-inner #email{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 0px 20px 20px 0px;
    border: #ECA052;
    height: 25px;
    width: 85px;
} 
.Sub-inner #sub{
    padding: 5px;
    margin-bottom: 35px;
    margin-left: 10px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    background-color:#393939;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: none;
}
.base {
    background-color: #393939;
    padding: 5px;
}
.base hr{
    width: 100px;
    height: 1px;
    margin: auto;
    margin-bottom: -20px;
    border-color: #393939;
}

.base img{
    width: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.link ul{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    list-style-type: none;
}
.link ul li a{
    color: ivory;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    margin-bottom: 50px;
    
}
.base h6{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
    color: ivory;
    text-align: center;
}

@media(min-width:568px){
    .services{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    } 
    .services h3{
        padding: 0;
        font-size: 15px;
    }
    .comment-inner{
        display: flex;
    }

    .happy{
        text-align: center;
    }

    
    .Sub-inner h5 {
        text-align: center;
    }
    
    form{
        margin: 0 auto;
        width: max-content;
    }
    
    

}
@media(min-width:568px){
    .services p{
        font-size: 11px;
    }

}

@media(min-width:568px){
    .Hero .Hero-inner{   
        font-size: 30px;
    }
    header ul {
        margin-left: 275px;
    }

}


@media(min-width:768px){
    .Hero .Hero-inner{
        font-size: 40px;
    }
    .services{
        display:flex;
        justify-content:space-between;
    }
    .services .serv-items{
        width:30%;
        font-size: 20px;
        color: rgb(32, 30, 30);
    }
    .services .serv-items p{
        font-size: 17px;
    }
    
    header ul li a{
        font-size: 15px;
    }
    .happy h2{
        padding: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(92, 88, 88);
        font-size: 30px;
        background-color: white;
    }
    .comments{
        
display:flex;
        
flex-wrap:wrap;
        
background-color: white;
    }
    .comments .comment-inner p{
        padding: 4px;
    }
    .comment-inner{
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 18px;
        display: flex;
        color: gray;
    }
    .comment-inner h4{
    padding: 10px;
    color: rgb(27, 23, 23);
    }
    .sign-up{
        text-align: center;
        background-color:whitesmoke;
    }
    
    .sign-up img{
        width: 50%;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .sign-up h2{
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        color:rgb(85, 76, 76);
    }
    .sign-up p{
        text-align: center;
        /* font-family: sans-serif; */
        font-size: 20px;
        margin-bottom: 50px;
        margin-top: 10px;
        color: gray;
    }
    .sign-up button{
        background-color: #ECA052;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: bold;
        margin:0 auto;
        padding: 5px;
        /* border-radius: 5px; */
        border-color: #ECA052;
        margin-bottom: 25px;
    }
    .Sub-inner #name{
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 20px 0px 0px 20px;
        border: #ECA052;
        margin-right: 5px;
        height: 35px;
        width: 130px;
        font-size: 17px;
    }
    .Sub-inner #email{
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 0px 20px 20px 0px;
        border: #ECA052;
        height: 35px;
        width: 130px;
        font-size: 17px;
    } 
    .Sub-inner #sub{
        padding: 5px;
        margin-bottom: 35px;
        border-radius: 20px 20px 20px 20px;
        color: rgb(236, 233, 233);
        background-color: rgb(31, 26, 26);
        width: 129px;
        height: 35px;
        font-size: 16px;
        border: none;
    }
    .link ul{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        list-style-type: none;
    }
    .link ul li a{
        color: rgb(153, 153, 147);
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        margin-top: 50px;
        
    }
    .base h6{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 5px;
        color: rgb(136, 136, 133);
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .base img{
        width: 70px;
        padding: 20px;
    }
    .base hr{
        width: 400px;
        height: 2px;
        background-color:#333;
        /* margin: auto; */
    }

}


.Sub-inner h5 {
    font-size: 20px;
}
    
    .comment-inner{
        /* display: flex; */
        /* flex-wrap: nowrap; */
        align-content: center;
        /* width: 94%; */
    }



@media(min-width:992px){
    .Hero .Hero-inner{   
        font-size: 50px;
    }

    header ul li a{
        font-size: 17px;
    }
    
    .services {
        color: grey;
        text-align: center;
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }
    .services .serv-items h3{
        padding: 10px;
        margin-top: 160px;
        margin-bottom: 30px;
        font-size:35px;
    }
    .services .serv-items p{
        font-size: 15px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 80px;
        margin-top: 20px;
    }
    .sign-up{
        text-align: center;
        background-color:whitesmoke;
    }
    
    .sign-up img{
        width: 50%;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .sign-up h2{
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 33px;
        text-align: center;
        margin-bottom: 30px;
        color:rgb(85, 76, 76);
    }
    .sign-up p{
        text-align: center;
        /* font-family: sans-serif; */
        font-size: 20px;
        margin-bottom: 50px;
        margin-top: 10px;
        color: gray;
        width: 705px;
    }
    .sign-up button{
        background-color:#ECA052;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin:0 auto;
        padding: 8px;
        margin-bottom: 25px;
        border: none;
    }
    .happy h2{
        padding: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(92, 88, 88);
        font-size: 30px;
        background-color: white;
    }
    .comments{
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 50px;
    }
    .comment-inner{
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 19px;
        color: gray;
        padding: 5px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .comment-inner h4{
    padding: 10px;
    color: black;
    margin-bottom: 17px;
    }
    .Sub-inner h5 {
        font-size: 38px;
    }
    .Sub-inner #name{
        padding: 7px;
        margin-bottom: 20px;
        border-radius: 20px 0px 0px 20px;
        border:#ECA052;
        height: 45px;
        width:140px;
        font-size: 17px;
    }
    .Sub-inner #email{
        padding: 7px;
        margin-bottom: 20px;
        border-radius: 0px 20px 20px 0px;
        border: #ECA052;
        height: 45px;
        width:140px;
        font-size: 17px;
        
    } 
    .Sub-inner #sub{
        padding: 5px;
        margin-bottom: 35px;
        margin-left: 10px;
        border-radius: 20px 20px 20px 20px;
        color: white;
        background-color: #393939;
        width:140px;
        height: 42px;
        font-size: 18px;
        border: none;
    }
    .link ul{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        list-style-type: none;
    }
    .link ul li a{
        color: rgb(153, 153, 147);
        text-decoration: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        margin-top: 50px;
        
    }
    .base h6{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 5px;
        color: rgb(136, 136, 133);
        text-align: center;
        margin-bottom: 50px;
    }
    .base img{
        width: 80px;
        padding: 20px;
    }

}




@media(min-width:1200px){
    .Hero .Hero-inner{        
        font-size: 60px;
    }
    
    header ul li a{
        font-size: 20px;
    }
    header img{
        width: 60px;
        height: 65px;
        margin-top: 10px;
    }
    .Hero .Hero-inner h1{
        font-size: 51px;
    }
    .services {
        color :#C0BBB6;
        text-align: center;
        font-family: 'Poppins-Regular';
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }
    .services .serv-items h3{
        padding: 10px;
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 22px;
        
    }
    .services .serv-items p{
        font-size: 15px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 80px;
        margin-top: 20px;
        color:#A9AFAB;
    }
    .sign-up{
        text-align: center;
        background-color:whitesmoke;
    }
    
    .sign-up img{
        width: 50%;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .sign-up h2{
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        color:rgb(85, 76, 76);
    }
    .sign-up p{
        text-align: center;
        /* font-family: sans-serif; */
        font-size: 20px;
        margin-bottom: 50px;
        margin-top: 11px;
        color: gray;
        margin: 26px auto;
    }
    .sign-up button{
        background-color: #ECA052;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin:0 auto;
        padding: 20px;
        border-radius: none;
        margin-bottom: 25px;
        border: none;
    }
    .happy h2{
        padding: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: #62686E;
        font-size: 30px;
        background-color: white;
    }
    .comments{
        margin-bottom: 50px;
        display: flex;
    }
    .comments h2{
        color: #393939;
    }
    .comments .comment-inner P{
        color: #AFAFB9;
        padding: 5px;
        margin-top: 40px;
    }
    
    .comment-inner{
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 16px;
        color: gray;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
    }
    .comment-inner h4{
    padding: 5px;
    color:#AFAFB9;
    margin-bottom: 50px;
    }
    .Sub-inner h5 {
        font-size: 45px;
    }
    .Sub-inner #name{
        padding: 7px;
        margin-bottom: 20px;
        border-radius: 50px 0px 0px 50px;
        border:#ECA052;
        margin-right: 5px;
        height: 50px;
        width: 180px;
        font-size: 17px;
    }
    .Sub-inner #email{
        padding: 7px;
        margin-bottom: 20px;
        border-radius: 0px 50px 50px 0px;
        border: #ECA052;
        height: 50px;
        width: 180px;
        font-size: 17px;
    } 
    .Sub-inner #sub{
        padding: 5px;
        margin-bottom: 35px;
        margin-left: 10px;
        border-radius: 50px 50px 50px 50px;
        font-weight: normal;
        color: white;
        background-color: #393939;
        width: 180px;
        height: 50px;
        font-size: 20px;
    }
    .link ul{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        list-style-type: none;
    }
    .link ul li a{
        color: rgb(153, 153, 147);
        text-decoration: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        margin-top: 50px;
        
    }
    .base h6{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 5px;
        color: rgb(136, 136, 133);
        text-align: center;
        margin-bottom: 50px;
    }
    .base img{
        width: 50px;
        padding: 20px;
        width: max-content;
     }
     

}
